.container {
  display: flex;
  justify-content: space-between;
  overflow-y: hidden;
  /* list-style-type: none; */
  /* padding: 0; */
}

.scroll {
  display: flex;
  flex-direction: row;
  max-height: 70vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;

  row-gap: 16px;
  flex-wrap: wrap;
  width: 50%;
  margin-top: 80px;
  transform: translateY(-10%);
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 600px;
  width: 100%;
  /* margin-top: 100px; */
}
