.container {
    background-color: #1c1c21;
    border-radius: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 820px;
  }
  
  .description {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .number {
      padding-bottom: 10px;
  }
  
  .datetime {
      padding-bottom: 10px;
  }
  
  .link {
    text-decoration: none;
    color: inherit;
  }
  
  
  .ingredients {
    display: flex;
    justify-content: space-between;
  }
  
  .images {
    display: flex;
    transform-style: preserve-3d;
    margin: 10px;
  }
  
  .ingredient {
      background: linear-gradient(#131316, #131316) padding-box,
      linear-gradient(to right, #801ab2, #4c4cff) border-box;
      border: 2px solid transparent;
      border-radius: 80px;
      position: relative;
      width: 64px;
      height: 64px;
      
      object-fit: cover;
  }
  
  .images > * {
    margin-left: -16px;
    transform: rotateY(-1deg);
  }
  
  .images > *:first-child {
    margin-left: 0;
  }
  
  .ingredient:nth-of-type(5){
      z-index: 1;
      opacity: 0.6;
  }
  
  .price {
    display: flex;
    align-items: center;
  }
  
  .done{
    color: azure;
  }
  .ingredinets_left {
    display: flex;
    margin: 30px;
    transform: translateX(-255px);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.589);
    align-items: center;  
  }
  