.ingredientsMenu {
  /* BurgerIngredients */
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 800px;
  left: 380px;
  top: 128px;

  /* interface/bg */

  background: #131316;
}

.tabMenu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  width: 600px;
  height: 56px;
  left: 0px;
  top: 100px;
}

.ingredients {
  width: 600px;
  top: 156px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 0px;
  margin-top: 48px;

  gap: 60px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 3vh;
}

.headline {
  width: 600px;
  height: 30px;
  left: 0px;

  background: #131316;
}
