.ingredientsMenu {
  /* BurgerIngredients */
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 912px;
  left: 380px;
  top: 128px;

  /* interface/bg */

  background: #131316;
}

.tabMenu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  width: 600px;
  height: 56px;
  left: 0px;
  top: 100px;
}

.description {
  display: flex;
  flex-wrap: wrap;

  padding: 0;

  height: 48px;
  left: 0%;
  right: 0%;
  bottom: 0px;

  /* desktop/text */

  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  /* or 150% */

  text-align: center;
}

.ingredients {
  width: 600px;
  height: 756px;
  left: 0px;
  top: 156px;
  overflow-y: scroll;
  overflow-x: hidden;

  border-radius: 0px;
}

.buns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 16px;
  gap: 24px;

  width: 600px;
  left: 0px;
  top: 16px;
}

.sauses {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 80px 16px;
  gap: 24px;

  width: 600px;

  left: 0px;
}

.mains {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 16px;
  gap: 24px;

  width: 600px;

  left: 0px;

}

.headline {
  width: 600px;
  height: 30px;
  left: 0px;

  background: #131316;
}
